.sidebar {
    background-color: #000000;
    height: 100vh;
    width: 16rem;
    color: #ffffff;
}

.content ul {
    width: 12rem;
    display: grid;
    justify-content: center;
}

.content ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}